@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*
		https://tailwindcss.com/docs/customizing-colors
	*/
  --primary: #262626; /* neutral-800 */
  --secondary: #171717; /* neutral-900 */
  --tertiary: #404040; /* neutral-700 */
  --color: #f3f3f3;
  --accent-primary: #2563eb; /* blue-600 */
  --accent-primary-state: #1e40af; /* blue-800 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%; 
}
body{
padding: 1rem 1rem;
background-color: #1e40af;
display: flex;
justify-content: center;
align-items: flex-end;
align-items: center;
}

main{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
      height: 100%;
}
.content{
  padding: 1rem 1rem;
}

#engine{
  cursor: pointer;
  height: 400px;
  width: 300px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.load-file-label{
  cursor: pointer;
  background-color: palegreen;
  padding: 1rem .6rem;
  border-radius: 4px;
  min-width: 300px;

  width: 100%;
  min-width:300px;
}

.form-control {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding: 1rem 0rem;
}

.input-file{
    width: 0;
    height: 0;
    position: absolute;
}

.download-file{
  padding: 1rem 0;
  text-decoration: underline;
  color: whitesmoke;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:center;

  border: 1px solid whitesmoke;
  border-radius: 4px;
}
