@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*
		https://tailwindcss.com/docs/customizing-colors
	*/
  --primary: #262626; /* neutral-800 */
  --secondary: #171717; /* neutral-900 */
  --tertiary: #404040; /* neutral-700 */
  --color: #f3f3f3;
  --accent-primary: #2563eb; /* blue-600 */
  --accent-primary-state: #1e40af; /* blue-800 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%; 
}
body{
padding: 1rem 1rem;
background-color: #1e40af;
}
h2 {
  font-weight: bold;
  font-size: 2rem;
}
.os {
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.brauser {

  display: grid;
  grid-template-rows:   75px  auto;
  grid-template-columns: 1fr;

  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  min-width: 300px;
  width: 100%;
  height: 100%;
  /* padding: 2rem 2rem; */

  background-color: whitesmoke;
  border-radius: 10px;
  overflow: hidden;


  max-width: 900px;
}
.brauser-header{
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 1rem;

  background-color: #373737;
}
.brauser-search{
  display: flex;
  gap: 1rem;
  /* background-color: #ccc; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}
.load-file-label{
  cursor: pointer;
  background-color: palegreen;
  padding: .6rem .6rem;
  border-radius: 4px;
}
.brauser-bookmarks{
  grid-row: 3/4;

  background-color: #ccc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.brauser-content{

  padding: 1rem 2rem;
  height: 100%;

  display: flex;
  gap: 1rem;

}

.renderer{
  width: 100%;
  height: 100%;
}
#engine{
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0rem;
}

.form-control input[type='url'] {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control.search{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-control.search button{
  background-color: whitesmoke;
  background-color: palegreen;
  padding: 0.6rem 0.6rem;
  border-radius: 4px;
}
.search-input{
  padding: 0.6rem 1rem;
  border-radius: 4px;
  width: 100%;
}

.input-file{
    width: 0;
    height: 0;
     position: absolute;
}
.box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem;
}
